@model IEnumerable<u20547430_HW06.Models.product>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Product Name" aria-label="Search" name="searchString" autocomplete="off">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <button id="create" type="button" data-target="#myModal" class="btn btn-success w-100">Create</button>
    </form>
</div>

<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
</table>



@section scripts {
    <script>
        $(document).ready(() => {
            GetProducts();


            function GetProducts() {
                $.get({
                    url: "@Url.Action("GetProducts", "Home")",
                    success: (data) => {
                        let productData = JSON.parse(data);

                        console.log(productData);

                        $("#table-body").empty();

                        $(productData).each((index, element) => {
                            $("#table-body").append(`<tr data-id="${element.Id}"><td>${element.Name}</td>
                                                    <td>${element.Year}</td><td>${element.Price}</td>
                                                     <td>${element.Brand}</td><td>${element.Category}</td>
                                                     <td><a href="#" class = "btn btn-primary" onclick="return getbyID(' + item.Id + ')">Edit</a> | <a href="#" class = "btn btn-info" onclick="Details(' + item.Id + ')">Details</a>| <a href="#" class = "btn btn-danger w-100" onclick="Delele(' + item.Id + ')">Delete</a></td></tr>`);
                        });
                    }
                });
            }
            //Show The Popup Modal For Add New Student

            
        })


    </script>
}



